body{
	background-color: #e6eeff !important;
}
.myName{
	font-family: 'Titillium Web', sans-serif;
}
.navBarLinks{
	margin-top: 30px;
}
.contentHeader{
	font: 30px 'Titillium Web', sans-serif;
	margin-bottom: 20px;
	border-bottom: solid;
	margin-top: 5px;
}
#about{
	width: 400px;
}
#connect{
	width: 225px;
}
.contentBox{
	height: 350px;
	width: 400px;
	font-family: 'Titillium Web', sans-serif;
}
#profileBio{
	font: 16px 'Titillium Web', sans-serif;
	margin-bottom: 15px;
	height: 300px;
}
@keyframes psych{
	0%{color: blue;}
	25%{color: red;}
	50%{color: green;}
	100%{color: orange;}
}
.bioAnimation{
	color: blue;
	animation-name: psych;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}
.iconPic{
	height: 60px;
	width: 60px;
}
.nameForm{
	width: 400px;
}
#message{
	height: 150px;
}
.img-fluid{
	height: 175px;
	width: 175px;
	margin-bottom: 30px;
	border: 2px solid grey;
}
.btn{
	position: absolute;
	width: 175px;
	height: 30px;
	opacity: 0.8;
	font:'Titillium Web', sans-serif;
}
.topButton{
	margin-top: 115px;
}
.bottomButton{
	margin-top: 320px;
	margin-left: -179px;
}
.foot{
	height: 100px;
	width: 100%;
	background-color: #909090;
	border-top: solid 5px #ff8566;
	background-image: url(http://www.epi-centre.com/basics/pixels/images/pixels6.jpg);
	text-align: center;
	font: 15px 'Montserrat', sans-serif;
	padding-top: 50px;
	font-color: #6699ff;
}
